body {
    background-color: black;
    color: white;
}

div {
    white-space: pre-wrap;
    font-family: monospace, monospace;
    font-size: x-large;
}

code {
    white-space: pre-wrap;
    font-size: x-large;
}